/* font-family: 'Rubik', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}
.wrap {
  width: 100vw;
  max-width: 100vw;
  background-color: #111;
  font-family: "Rubik", sans-serif;
}

/* header */
.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #111;
  border-bottom: 1px solid #444;
}
.header__list {
  display: flex;
  color: #eee;
  list-style: none;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.header__logo {
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}
li {
  margin-left: 60px;
  cursor: pointer;
}
.header__loginBtn {
  margin-right: 50px;
  height: 50px;
  line-height: 60px;
  font-size: 22px;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* main */
.main {
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}
.main__h1 {
  padding-top: 250px;
  padding-left: 220px;
  font-size: 80px;
  text-transform: uppercase;
  color: #eee;
}
.main__h2 {
  padding-top: 40px;
  padding-left: 220px;
  color: #eee;
  font-size: 40px;
}
.main__arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #eee;
  text-align: center;
  font-size: 40px;
}
.main__arrow i {
  cursor: pointer;
}

/* Fight of the day section */
.dayFight {
  height: 100vh;
  position: relative;
}
.dayFight__h1 {
  padding-top: 110px;
  font-size: 50px;
  color: #eee;
  text-align: center;
}
.dayFight__video {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-40%);
  height: 600px;
  width: 45%;
}
.dayFight__video iframe {
  height: 100%;
  width: 100%;
}
.dayFight__description {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 40%;
  transform: translateY(-40%);
  color: #eee;
  text-align: center;
}
.dayFight__h2 {
  font-size: 35px;
  padding-bottom: 20px;
}
.dayFight__text {
  text-align: left;
  font-size: 22px;
  letter-spacing: 1px;
}

/* videos section */
.videos {
  display: flex;
  flex-direction: column;
  color: #eee;
}
.videos--container {
  position: relative;
  width: 100%;
  height: 300px;
}
.videos__h1 {
  margin-left: 50px;
  font-size: 20px;
}
.videos__canelo {
  margin-top: 100px;
}
.videos__list {
  display: flex;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.videos__canelo:hover .rightArrow,
.videos__canelo:hover .leftArrow,
.videos__joshua:hover .rightArrow,
.videos__joshua:hover .leftArrow,
.videos__fury:hover .rightArrow,
.videos__fury:hover .leftArrow,
.videos__ggg:hover .rightArrow,
.videos__ggg:hover .leftArrow,
.videos__usyk:hover .rightArrow,
.videos__usyk:hover .leftArrow,
.videos__wilder:hover .rightArrow,
.videos__wilder:hover .leftArrow,
.videos__loma:hover .rightArrow,
.videos__loma:hover .leftArrow,
.videos__crawford:hover .rightArrow,
.videos__crawford:hover .leftArrow,
.videos__errol:hover .rightArrow,
.videos__errol:hover .leftArrow,
.videos__manny:hover .rightArrow,
.videos__manny:hover .leftArrow,
.videos__floyd:hover .rightArrow,
.videos__floyd:hover .leftArrow {
  display: block;
}
.videos__element {
  padding-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.videos__element p {
  padding-top: 5px;
  margin-bottom: 5px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  font-size: 50px;
  display: none;
  color: #eee;
  z-index: 3;
  cursor: pointer;
  transition: 0.1s linear;
}
.arrow:hover {
  color: rgb(241, 241, 0);
}
.rightArrow {
  right: 1%;
}
.leftArrow {
  left: 1%;
}
/* footer */
.footer {
  height: 100px;
  text-align: center;
  line-height: 140px;
}
.footer a {
  text-decoration: none;
  color: #eee;
}
