* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
}
.wrap {
  width: 100vw;
  max-width: 100vw;
  background-color: #111;
  font-family: "Rubik", sans-serif;
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.85);
  z-index: 4;
  display: none;
}
.overlay.on {
  display: block;
}
.overlay__video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 40vw;
}
.overlay__video iframe {
  width: 100%;
  height: 100%;
}
/* header */
.header {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #111;
  border-bottom: 1px solid #444;
}
.header__list {
  display: flex;
  color: #eee;
  list-style: none;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.header__logo {
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}
li {
  padding-left: 60px;
  cursor: pointer;
}
.header__loginBtn {
  margin-right: 50px;
  height: 50px;
  line-height: 60px;
  font-size: 22px;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.hamburgerMenu {
  display: none;
}

/* main */
.main {
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
}
.main__h1 {
  padding-top: 250px;
  padding-left: 220px;
  font-size: 80px;
  text-transform: uppercase;
  color: #eee;
}
.main__h2 {
  padding-top: 40px;
  padding-left: 220px;
  color: #eee;
  font-size: 40px;
}
.main__arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: #eee;
  text-align: center;
  font-size: 40px;
}
.main__arrow i {
  cursor: pointer;
}

/* Fight of the day section */
.dayFight {
  height: 100vh;
  position: relative;
}
.dayFight__h1 {
  padding-top: 110px;
  font-size: 50px;
  color: #eee;
  text-align: center;
}
.dayFight__video {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-40%);
  height: 30vw;
  width: 45vw;
}
.dayFight__video iframe {
  height: 100%;
  width: 100%;
}
.dayFight__description {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 40vw;
  transform: translateY(-40%);
  color: #eee;
  text-align: center;
}
.dayFight__h2 {
  font-size: 35px;
  padding-bottom: 20px;
}
.dayFight__text {
  text-align: left;
  font-size: 22px;
  letter-spacing: 1px;
}

/* videos section */
.videos {
  display: flex;
  flex-direction: column;
  color: #eee;
}
.videos--container {
  position: relative;
  width: 100%;
  height: 300px;
}
.videos__h1 {
  margin-left: 50px;
  font-size: 20px;
}
.videos__canelo {
  margin-top: 100px;
}
.videos__list {
  display: flex;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.videos--container:hover .rightArrow,
.videos--container:hover .leftArrow {
  display: block;
}
.videos__element {
  position: relative;
  padding-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.1s;
}
.videos__element:hover {
  opacity: 0.7;
}
.videos__element:hover .playBtn {
  display: block;
}
.videos__element p {
  padding-top: 5px;
  margin-bottom: 5px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  font-size: 50px;
  display: none;
  color: #eee;
  z-index: 1;
  cursor: pointer;
  transition: 0.1s linear;
}
.arrow:hover {
  color: rgb(241, 241, 0);
}
.rightArrow {
  right: 1%;
}
.leftArrow {
  left: 1%;
}
.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: none;
}
/* footer */
.footer {
  height: 100px;
  text-align: center;
  line-height: 140px;
}
.footer a {
  text-decoration: none;
  color: #eee;
}

/* media queries */
@media (max-width: 1366px) {
  .dayFight__description {
    width: 35vw;
  }
  .dayFight__h1 {
    font-size: 40px;
  }
  .dayFight__h2 {
    font-size: 30px;
  }
  .dayFight__text {
    font-size: 18px;
  }
}
@media (max-width: 1025px) {
  .header__list {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateY(-75%);
    flex-direction: column;
    background-color: #111;
    z-index: -1;
  }
  .header__list.on {
    transform: translateY(25%);
    transition: 0.3s linear;
  }
  .header__list.off {
    transform: translateY(-75%);
    transition: 0.3s linear;
  }
  .header__list li {
    border-bottom: 1px solid #444;
  }
  .header__logo {
    display: none;
  }
  .hamburgerMenu {
    flex-grow: 1;
    display: block;
    line-height: 60px;
    z-index: 0;
    width: 100vw;
    font-size: 35px;
    color: #eee;
    background-color: #111;
    border-bottom: 1px solid #444;
  }
  .hamburger {
    cursor: pointer;
    padding-left: 60px;
  }
  .header__loginBtn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    text-align: right;
    background-color: #111;
  }
  .main {
    background-position: center;
  }
  .main__h1 {
    padding-top: 250px;
    padding-left: 120px;
    font-size: 70px;
    text-transform: uppercase;
    color: #eee;
  }
  .main__h2 {
    padding-top: 40px;
    padding-left: 120px;
    color: #eee;
    font-size: 30px;
  }
  .dayFight__h1 {
    font-size: 40px;
  }
  .dayFight__video {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 40vw;
    width: 60vw;
  }
  .dayFight__description {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
  }
  .videos__element:hover .playBtn {
    display: none;
  }
  .videos__element:hover {
    opacity: 1;
  }
}
@media (max-width: 415px) {
  .main__h1 {
    padding-top: 200px;
    padding-left: 50px;
    font-size: 50px;
  }
  .main__h2 {
    padding-top: 40px;
    padding-left: 50px;
    font-size: 20px;
  }
  .dayFight__h1 {
    padding-top: 90px;
    font-size: 30px;
  }
  .dayFight__video {
    height: 45vw;
    width: 70vw;
  }
  .dayFight__description {
    top: 50%;
    left: 50%;
    width: 70vw;
  }
  .dayFight__h2 {
    font-size: 25px;
  }
  .dayFight__text {
    font-size: 18px;
  }
  .videos {
    margin-top: 220px;
  }
}
@media (max-width: 376px) {
  .dayFight__h2 {
    font-size: 20px;
  }
  .dayFight__text {
    font-size: 15px;
  }
}
@media (max-width: 321px) {
  .main__h1 {
    padding-top: 180px;
    padding-left: 30px;
    font-size: 45px;
  }
  .main__h2 {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 18px;
  }
  .dayFight__h1 {
    padding-top: 80px;
    font-size: 25px;
  }
  .dayFight__video {
    margin-top: 20px;
  }
  .dayFight__h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  .dayFight__text {
    font-size: 14px;
  }
}
@media (max-width: 1025px) and (orientation: landscape) {
  .dayFight__h1 {
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .dayFight__video {
    height: 36vw;
    width: 50vw;
  }
  .dayFight__description {
    top: 75%;
    left: 50%;
  }
  .dayFight__h2 {
    font-size: 30px;
  }
  .dayFight__text {
    font-size: 16px;
  }
}
@media (max-width: 824px) and (orientation: landscape) {
  .main__h1 {
    padding-top: 100px;
    padding-left: 80px;
    font-size: 50px;
  }
  .main__h2 {
    padding-top: 30px;
    padding-left: 80px;
    font-size: 20px;
  }
  .dayFight__video {
    top: 80%;
    left: 3%;
    transform: translateY(-50%);
  }
  .dayFight__description {
    width: 40%;
    top: 80%;
    right: 3%;
    left: auto;
    transform: translateY(-50%);
  }
  .dayFight__h2 {
    font-size: 20px;
  }
  .dayFight__text {
    font-size: 12px;
  }
}
@media (max-width: 668px) and (orientation: landscape) {
  .main__h1 {
    font-size: 45px;
  }
  .main__h2 {
    font-size: 18px;
  }
  .dayFight__h1 {
    font-size: 28px;
  }
  .dayFight__h2 {
    font-size: 18px;
  }
  .dayFight__text {
    font-size: 11px;
  }
}
@media (max-width: 569px) and (orientation: landscape) {
  .main__h1 {
    padding-top: 80px;
    padding-left: 60px;
    font-size: 40px;
  }
  .main__h2 {
    padding-left: 60px;
    font-size: 16px;
  }
  .dayFight__h1 {
    font-size: 25px;
  }
  .dayFight__h2 {
    font-size: 14px;
  }
  .dayFight__text {
    font-size: 9px;
  }
}
